<h1>New Service</h1>
{{#if showError}}
<p>Service must have a name.</p>
{{/if}}
<form>
<fieldset>
  <dl>
    <dt><label>Name:</label></dt>
    <dd>{{input value=fields.name}}</dd>
  </dl>
</fieldset>
</form>

<button type="submit" {{action 'createService'}} class="btn btn-primary">Create</button>
{{#link-to 'services'}}Cancel{{/link-to}}
