<h2><small>Edit</small> {{model.name}}</h2>

<p>
  <label for="">Name</label>
  <br />
  {{view Ember.TextField value=model.name}}
</p>

<input type="submit" value="Save" {{action 'saveChanges'}} />
<a href="#"{{action 'cancel'}}>cancel</a>
{{#if showUnsavedMessage}}
  <p class="unsaved">unsaved changes</p>
{{/if}}
{{#if isSaving}}
  <p class="saving">saving...</p>
{{/if}}
