<h1>Environments</h1>
{{#link-to 'service.environments.new'}}New{{/link-to}}

<ul>
  {{#each environment in controller}}
  <li>{{#link-to 'environment' environment}}{{environment.name}}{{/link-to}}</li>
  {{/each}}
</ul>
{{outlet}}
