development:
  adapter: postgresql
  encoding: unicode
  database: urkel-development
  pool: 5
  username: mo
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: urkel-test
  pool: 5
  username: mo
  password:
