development:
  adapter: postgresql
  encoding: unicode
  database: mocode-development
  pool: 5
  username: mo
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: mocode-test
  pool: 5
  username: mo
  password:
