<div class="panel panel-default">
  <div class="panel-heading">
    API Key for {{name}}
  </div>
  <div class="panel-body">
    <p>
    {{apiKey}}
    <a href="#" {{action "deleteEnvironment"}} class="btn btn-danger">delete</a>
    </p>
  </div>
</div>
