<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">{{#link-to 'failures'}}Failures{{/link-to}}</li>
</ol>

<div class="page-header">
  <h1>Failures <small>management</small></h1>
</div>

<div class="list-group">
{{#each failure in controller}}
  {{#link-to 'failure' failure class="list-group-item"}}{{failure.error_type}}: {{failure.message}} on {{failure.hostname}}{{/link-to}}
{{/each}}
</div>

{{outlet}}

