<h1>Services</h1>

{{input value=search placeholder="search" classNames="search"}}

{{#link-to 'services.new'}}new service{{/link-to}}

<ul class="nav nav-pills nav-stacked well">
{{#each service in services}}
  <li> {{#link-to 'service' service}}{{service.name}}{{/link-to}} </li>
{{/each}}
</ul>

{{outlet}}
