<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{#link-to 'service' }}{{name}}{{/link-to}}
        {{#link-to 'service.edit' this class="btn btn-default"}}edit{{/link-to}}
        <a href="#" {{action "deleteService"}} class="btn btn-danger">delete</a>
      </div>
      <div class="panel-body">
        {{#link-to 'service.environments' this}}environments{{/link-to}}
        {{outlet}}
      </div>
    </div>
  </div>
</div>
