<h1>New Environment</h1>
{{#if showError}}
<p>Environment must have a name.</p>
{{/if}}
<form>
<fieldset>
  <dl>
    <dt><label>Name:</label></dt>
    <dd>{{view Ember.TextField value=fields.name}}</dd>
  </dl>
</fieldset>
</form>

<input type="submit" value="Create" {{action 'createEnvironment'}} />
