<h1>Videos Index</h1>
<ul class="nav nav-pills nav-stacked well">
  {{#each video in controller}}
  {{ log video }}
  <li> {{#link-to 'video' video}}{{video.title}}{{/link-to}} </li>
  {{/each}}
</ul>
