<h1>New Video</h1>
{{#if showError}}
<p>Videos must have at title and uri.</p>
{{/if}}
<form>
<fieldset>
  <dl>
    <dt><label>Title:</label></dt>
    <dd>{{view Ember.TextField value=fields.title}}</dd>
  </dl>
  <dl>
    <dt><label>URI:</label></dt>
    <dd>{{view Ember.TextField value=fields.uri}}</dd>
  </dl>
  <dl>
    <dt><label>Description:</label></dt>
    <dd>{{view Ember.TextArea value=fields.description}}</dl>
  </dl>
</fieldset>
</form>

<input type="submit" value="Create" {{action 'createVideo'}} />
