<h2>Edit</h2>

<p>
  <label for="">Title</label>
  <br />
  <input type="text" name="" id="" value="{{model.title}}" />
</p>
<p>
  {{ view Ember.TextArea value=model.description }}
</p>

<input type="submit" value="Save" {{action 'saveChanges'}} />
